<div class="row">
     <% @tweets.each do |tweet| %>
        <div class="col s12 m6 center">
          <div class="card white darken-1 ">
            <div class="card-content black-text ">
　　　　　　　
              <span class="card-title">●メモ</span>

                <div class="content_post" >
                  <%= simple_format(tweet.name) %>
                  <span class="text"><%= tweet.text %></span>

                </div>
              </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn black">詳細</a>
              <a class="waves-effect waves-light btn black">編集</a>
              <a class="waves-effect waves-light btn black">削除</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate(@tweets) %>
    </div>
